{% extends 'base.html.twig' %}

{% block title %}Account E-commerce !{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Your Account !'}) }}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dashboard_menu">
                    <ul class="nav nav-tabs flex-column" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Dashboard</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Orders</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>My Address</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Account details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout')}}"><i class="ti-lock"></i>Logout</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                {% for message in app.flashes('address_message') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}


                <div class="tab-content dashboard_content">
                      <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3 style="color: #00580a;">Hello {{ app.user.firstname|capitalize }} {{ app.user.lastname|capitalize }}</h3>
                            </div>
                            <div class="card-body">
                                <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">edit your password and account details.</a></p>
                            </div>
                        </div>
                        <br>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" target="_blank" class="btn btn-fill-out btn-block">Access the backoffice</a>
                        {% endif %}
                      </div>
                      <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Orders</h3>
                            </div>
                            {% if orders %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                     <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.createdAt | date('d/m/Y') }}</td>
                                                    <td>Processing</td>
                                                    <td>${{ order.subTotalTTC / 100 }} for {{ order.quantity }} item(s)</td>
                                                    <td><a href="{{ path('account_order_details', {'id': order.id}) }}" class="btn btn-fill-out btn-sm">View</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    Sorry {{ app.user.fullName }}. You have not placed an orders.
                                </div>    
                            {% endif %}
                            
                            
                        </div>
                      </div>
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{{ path('address_new') }}" class="btn btn-fill-out mb-3">Add new address</a>
                            </div>
                        </div>
                        <div class="row">
                            {% if app.user.addresses %}
                            {% set index = 0 %}
                                {% for address in app.user.addresses %}
                                    {% set index = index +1 %}
                                    <div class="col-lg-6 mb-4">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <h4> Your Address # {{ index }} </h4>
                                            </div>
                                                <div class="card-body">
                                                    <address>{{ address.fullName }} <br>
                                                        {{ address.address }} <br>
                                                        {{ address.complement }} <br>
                                                        {{ address.city }} <br>
                                                        {{ address.codePostal }}<br>
                                                        {{ address.country }}
                                                        </address>
                                                    <div class="btn-group">
                                                        <a href="{{ path('address_edit', {'id': address.id}) }}" class="btn btn-success">Edit</a>
                                                        {% include('address/_delete_form.html.twig') %}
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                    {% else %}
                                        <p>Sorry you havent's added an address to your account yet !</p>
                            {% endif %}
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Account Details</h3>
                            </div>
                            <div class="card-body">
                                <p>Already have an account? <a href="#">Log in instead!</a></p>
                                <form method="post" name="enq">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>First Name <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.firstname }}" class="form-control" name="name" type="text">
                                         </div>
                                         <div class="form-group col-md-6">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.lastname }}" class="form-control" name="phone">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Display Name <span class="required">*</span></label>
                                            <input required="" class="form-control" name="dname" type="text">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input required="" value="{{ app.user.email }}" class="form-control" name="email" type="email">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Current Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="password" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>New Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="npassword" type="password">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Confirm Password <span class="required">*</span></label>
                                            <input required="" class="form-control" name="cpassword" type="password">
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
