{% extends 'base.html.twig' %}

{% block title %}CGU E-commerce{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Conditions Générales d\'Utilisation'}) }}
<div class="container">
    <h1 class="text-center mt-3">Conditions Générales d'Utilisation du site E-commerce</h1>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptates! Quia vitae enim officiis libero vel sequi itaque nesciunt alias nemo exercitationem veritatis natus quaerat corporis eligendi, maiores modi autem!
        Laudantium optio natus, nemo commodi necessitatibus doloribus laboriosam reprehenderit odio voluptas. Dolores ullam ex suscipit obcaecati molestias iusto ducimus sunt quia nisi, quas mollitia! Sint saepe ex repudiandae ipsam reprehenderit.
        Optio iusto incidunt aliquam aut. Voluptatum officiis vero, cupiditate iusto inventore iure voluptatibus quisquam! Impedit reprehenderit quo consequuntur excepturi deserunt aliquid! Inventore tempora, provident excepturi nobis nesciunt vero voluptatem sint!
        Doloremque, excepturi ipsa. Fuga sit nisi rerum adipisci at, deleniti ad, odit mollitia officiis inventore assumenda earum quisquam ea delectus expedita! Reprehenderit laudantium vel facilis non commodi dolore ab dolorem?
        Vero culpa blanditiis animi cum id libero omnis eaque iure distinctio recusandae ab accusantium consequuntur sint inventore repellat autem voluptas officiis maiores quasi numquam aperiam, facere praesentium harum. Sapiente, iste?
        Expedita quas ratione ex nulla aperiam eligendi recusandae sit sequi praesentium, aliquam repudiandae id qui, deleniti magnam incidunt ipsa. Placeat velit ex vero beatae assumenda nobis distinctio, quibusdam aperiam unde!
        Praesentium voluptatibus beatae minima dolorem veniam repudiandae sequi perferendis saepe distinctio corporis nulla eaque unde, nobis modi cum ut natus voluptate neque quisquam laboriosam ab. Alias voluptatem esse a amet?
        Quia reprehenderit quidem quis vitae suscipit. Dolor, omnis amet aut recusandae officiis totam ullam cumque accusamus nam minus commodi, deleniti nesciunt laboriosam, sint expedita fugiat saepe ratione unde aperiam similique.
        Dolores distinctio velit magni cupiditate maiores totam expedita nisi, eum ratione est aut in vitae illum impedit doloribus explicabo ipsa pariatur? Illum ducimus ipsum voluptas explicabo vero rem consequatur odit.
        Quae, minus? Harum nihil officia placeat suscipit dignissimos ab rerum sint vero quis libero necessitatibus, repudiandae alias consequatur expedita optio molestiae quia, corporis et sit dolor. Distinctio rem vero enim?
        Eius, itaque est! Facere dolor optio enim id accusamus inventore beatae sunt sit nihil, totam, animi, officia nobis architecto quidem quia quaerat consequuntur rerum. Quae iste corporis ad cupiditate dignissimos!
        Sint delectus ullam numquam neque tenetur deleniti blanditiis, fugiat optio, id necessitatibus pariatur adipisci repellendus et voluptatum reprehenderit, quibusdam quisquam inventore ducimus! Ipsa cumque sapiente, maxime consequuntur suscipit tempora earum.
        Distinctio id praesentium beatae voluptate aut sint exercitationem impedit ipsa fuga, blanditiis nostrum vitae mollitia unde nemo accusamus minima iste aperiam minus? Cumque quas fugiat qui, ipsa earum doloribus hic?
        Neque libero cumque ad hic aliquam assumenda amet, ab alias quae dolores, odio molestias ratione recusandae cupiditate quidem beatae eligendi suscipit. Recusandae eligendi id laboriosam accusamus officiis quos odio tempore.
        Quo excepturi perferendis maxime fugit nihil dolores libero explicabo eligendi aut laudantium, distinctio non illum officia, est nisi, voluptatem possimus ratione praesentium architecto cum facere molestiae? Corporis a impedit ex?
        Deleniti, sunt! Quia reiciendis voluptatum, assumenda eveniet quidem cupiditate ipsam cum commodi suscipit dolor est iure laboriosam sint excepturi totam! Totam harum aut tempora rem iure illo sunt obcaecati minus.
        Accusantium earum ipsum sapiente illum, ipsam repellat ut? Officiis rerum, esse quidem quisquam voluptate fuga commodi natus ad molestias dolorum alias ex iure eum officia quo reprehenderit qui accusantium? Nesciunt.
        Et cumque eveniet molestiae, tempora at non modi beatae. Necessitatibus dolore delectus placeat voluptates debitis suscipit quaerat incidunt amet repudiandae, nisi voluptatibus quidem expedita fugit ex deleniti natus labore aperiam?
        Aspernatur perspiciatis quod sapiente quas quis tempore earum doloribus deleniti rerum facilis nam dolores facere debitis eos, eius iste fugit, assumenda cum, veritatis quibusdam distinctio ullam magnam quasi blanditiis? Dolor.
        Et recusandae nemo, sunt quia maiores maxime placeat tempore quisquam temporibus ratione eveniet fugit cum fugiat. A maiores quisquam esse eaque nemo neque autem iusto non veritatis, molestias unde odio?
    </p>
    
    
</div>
{% endblock %}
